* {
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    transition: ease all 0.2s;
    padding: 0;
    margin: 0;
  }
  
  ::-webkit-scrollbar{
      display: none;
  }

  body {
    font-size: larger;
  }
  main {
    display: flex;
    margin-top: 50px;
    justify-content:center;
}
  
  /* Style the top navigation bar */
  .topnav {
    width: 100vw;
    padding: 10px 5% 10px 0;
    overflow: hidden;
    background-color: rgb(47, 110, 228);
  }
  .topnav figure {
    margin: 0;
    float: left;
    padding: 3px 0 0 10px;
  }

  .topnav img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  /* Style the topnav links */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    margin: 0 5px; 
    border-radius: 5px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .contenedor {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 600px; /* Should be removed. Only for demonstration */
  }
  
  /* Style the footer */
  .footer {
    background-color: #aed6fc;
    padding: 10px;
    width: 100vw;
    position: fixed;
    bottom: 0;
  }
  #formulario {
    border: 1px solid #CED4D0;
    padding: 8px;
  }

  #gif-registro {
    width: 120px;
    height: 120px;
    display: none;
  }
  #gif-login {
    width: 120px;
    height: 120px;
    display: none;
  }
  #gif-inicio {
    width: 120px;
    height: 120px;
    display: none;
  }